*:not(dialog),
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
::-webkit-scrollbar {
  display: none;
}

html:has(dialog[open]){
    overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

dialog {
  animation: fade-out 0.7s ease-out;
}

dialog[open] {
  animation: fade-in 0.7s ease-out;
}

dialog[open]::backdrop {
  animation: backdrop-fade-in 0.7s ease-out forwards;
}

/* Animation keyframes */

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scaleY(0);
    display: none;
  }

  100% {
    opacity: 1;
    transform: scaleY(1);
    display: block;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: scaleY(1);
    display: block;
  }

  100% {
    opacity: 0;
    transform: scaleY(0);
    display: none;
  }
}

@keyframes backdrop-fade-in {
  0% {
    background-color: rgb(0 0 0 / 0%);
  }

  100% {
    background-color: rgb(0 0 0 / 25%);
  }
}

footer a {
  color: inherit;
}

body {
  position: relative;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  background: #1976d2;
  color: whitesmoke;
  padding: 1rem;
}

header h1 {
  font-weight: 400;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

input,
select {
  padding: 0.5rem 1rem;
  line-height: 1.25;
  outline: none;
  border: none;
  border-radius: 1rem;
  box-shadow: 2px 2px 3px #37474f;
}

button {
  background: #569de4;
  color: whitesmoke;
  border: 1px solid #569de4;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
  font-weight: 700;
  margin: 0.3rem 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border-radius: 1rem;
  margin-bottom: 1rem;
}

button:hover {
  filter: contrast(150%);
}

main {
  min-height: calc(100vh - 8rem);
  padding: 1rem;
  text-align: center;
}
footer {
  text-align: center;
  padding: 0.5rem;
  background: #37474f;
  color: #deedfd;
}
.heart {
  color: red;
}
.card-wrapper {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}
.card {
  flex-basis: 360px;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 9px #37474f;
}

.card img {
  max-width: 360px;
  border-radius: 0.5rem 0.5rem 0 0;
}
.card h3 {
  font-weight: 600;
}

/* Modal */

:root {
  --modal-duration: 1s;
  --modal-color: #2f81c9;
}

.ratings-i {
  margin-left: 1em;
}

.modal {
  border-radius: 0.5rem;
  padding:0;
  border: none;
  max-width: 420px;
}

.modal::backdrop{
  backdrop-filter: blur(5px);
}

.modal-content {
  margin: 0 auto;
  width: 100%;
}

.modal-header h2{
  margin: 0;
}

.modal-header {
  background: var(--modal-color);
  padding: 15px;
  color: #fff;
  position: sticky;
  top: 0;
}

.modal-body {
  padding: 10px 20px;
  color: black;
  background: #fff;
  border-radius: 0 0 1rem 1rem;
}

.modal-body h3,
.modal-body h2 {
  font-weight: 400;
}

.close {
  font-size: 30px;
  position: absolute;
  top: 0;
  left: 90%;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* For media size 640px and more */
@media only screen and (min-width: 640px) {
  header {
    flex-direction: row;
  }
  form {
    display: inline-block;
  }
  form div {
    display: inline-block;
  }
}

.custom-h3 {
  font-size: small;
  color: #6b7280;
}

.features-section {
  background-color: #eee;
  padding-top: 6rem;
  padding-bottom: 6rem;
  border-radius: .5rem;
}

.features-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 80rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.features-box {
  margin-left: auto;
  margin-right: auto;
  max-width: 42rem;
}

.section-title {
  font-size: 1rem;
    font-weight: 600;
    line-height: 1.75rem;
    color: #2563eb;
}

.section-subtitle {
  margin-top: 0.5rem;
  font-size: 1.875rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  color: #1f2937;
}

.section-description {
  margin-top: 1.5rem;
  font-size: 1.125rem;
  line-height: 2rem;
  color: #4b5563;
}

.features-content {
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  max-width: 42rem;
}

.features-grid {
  display: grid;
  max-width: 36rem;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem 2rem;
}

.feature-item {
  position: relative;
  padding-left: 4rem;
  text-align: left;

  .feature-title {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.75rem;
    color: #1a202c;
  }

  .icon-container {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    height: 2.5rem;
    width: 2.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    background-color: #1d4ed8;

    .icon {
      height: 1.5rem;
      width: 1.5rem;
      color: #ffffff;
    }
  }

  .feature-description {
    /* margin-top: 0.5rem; */
    font-size: 1rem;
    line-height: 1.75rem;
    color: #4b5563;
  }
}

.custom-h2 {
  font-size: 1.1rem;
  color: #111827;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  .custom-h3 {
    color: #9ca3af;
}

  .features-section {
      background-color: #1a202c;
      color: white;
  }

  .section-title {
    color: #3b82f6;
  }

  .section-subtitle {
    color: #ffffff;
  }

  .section-description {
    color: #9ca3af;
  }

  .feature-item{
    .feature-title {
      color: #ffffff;
    }

    .feature-description {
      color: #9ca3af;
    }
  }
}

/* Responsive styles for small screens and above (min-width: 640px) */
@media (min-width: 640px) {
  .features-section {
      padding-top: 4rem;
      padding-bottom: 4rem;
  }

  .section-subtitle {
    font-size: 2.25rem;
  }

  .features-content {
    margin-top: 5rem;
  }
}

/* Responsive styles for large screens and above (min-width: 1024px) */
@media (min-width: 1024px) {
  .features-container {
      padding-left: 2rem;
      padding-right: 2rem;
  }

  .features-box {
    text-align: center;
  }

  .features-content {
    margin-top: 6rem;
    max-width: 64rem;
  }

  .features-grid {
    max-width: none;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 4rem;
  }
}
